---
# lifecycle processing for all datasets currently being tracked - backlog and post-compute

name: Dataset Lifecycle - Backlog and Post-Compute

on:
  # run whenever a pull request is labeled
  # triggers when we add the `tracking` label
  pull_request:
    types: [labeled]
  # run every 8 hours
  schedule:
    - cron: "0 0,8,16 * * *"
  workflow_dispatch:

jobs:
  exec-lifecycle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: ensure we only have one instance running
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_DANGERBOT_TOKEN_LIMITED }}
        with:
          abort-after-seconds: 60

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Cache conda
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('devtools/conda-envs/backlog.yaml') }}

      - name: Configure conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9
          miniforge-variant: Mambaforge
          activate-environment: backlog
          environment-file: devtools/conda-envs/backlog.yaml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
          auto-activate-base: false
          use-mamba: true

      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Run lifecycle processing script
        shell: bash -l {0}
        env:
          GH_TOKEN: ${{ secrets.GH_DANGERBOT_TOKEN_LIMITED }}
          QCA_USER: ${{ secrets.QCA_USER }}
          QCA_KEY: ${{ secrets.QCA_KEY }}
        run: |
            python ./management/lifecycle.py --states "Backlog" "Requires Scientific Review" "End of Life" "Archived/Complete"
