---
# lifecycle processing for all datasets currently being tracked - submission

name: Dataset Lifecycle - Submission

on:
  # run when there is a push that includes something in ./submissions
  # e.g. occurs when we merge a submission PR into master
  push:
    branches:
      - master
    paths:
      - 'submissions/**'
  # run three times a day, offset from other workflows
  schedule:
    - cron: "0 02,10,18 * * *"
  workflow_dispatch:

jobs:
  exec-lifecycle:
    runs-on: ubuntu-latest
    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
    steps:
      - name: Checkout code
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: ensure we only have one instance running
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_DANGERBOT_TOKEN_LIMITED }}
        with:
          abort-after-seconds: 60

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Cache conda
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('devtools/conda-envs/queued-submit.yaml') }}

      - name: Configure conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.8
          activate-environment: queued-submit
          environment-file: devtools/conda-envs/queued-submit.yaml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
          auto-activate-base: false
          mamba-version: "*"
          use-mamba: true

      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Make oe_license.txt file from GH org secret "OE_LICENSE"
        shell: bash
        env:
          OE_LICENSE_TEXT: ${{ secrets.OE_LICENSE }}
        run: |
          echo "${OE_LICENSE_TEXT}" > ${OE_LICENSE}

      - name: Run lifecycle processing script
        shell: bash -l {0}
        env:
          GH_TOKEN: ${{ secrets.GH_DANGERBOT_TOKEN_LIMITED }}
          QCA_USER: ${{ secrets.QCA_USER }}
          QCA_KEY: ${{ secrets.QCA_KEY }}
        run: |
            python ./management/lifecycle.py --states "Queued for Submission"
