name: Dataset Validation

on:
  pull_request:
    branches:
      - master
    paths:
      - 'submissions/**/dataset*.json*'
      - 'submissions/**/compute*.json*'
      - 'submissions/**/scaffold*.json*'

defaults:
  run:
    shell: bash -l {0}

jobs:
  dataset_validation:
    if: ${{ ! contains(github.event.issue.labels.*.name, 'validation-off') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: nschloe/action-cached-lfs-checkout@v1

      - name: Additional info about the build
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Install environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: devtools/conda-envs/validation.yaml
          create-args: >-
            python=3.11
          cache-environment: true

      - name: Environment Information
        run: |
          conda info
          conda list

      - id: file_changes
        uses: trilom/file-changes-action@v1.2.4

      - name: Validate Dataset
        env: # Or as an environment variable
          GH_TOKEN: ${{ secrets.GH_DANGERBOT_TOKEN_LIMITED}}
        run: |
          python -u ./management/validation.py '${{ steps.file_changes.outputs.files}}' '${{ github.event.number }}'
